@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-image: radial-gradient(circle at 10% 20%, rgba(5, 150, 105, 0.02) 0%, rgba(5, 150, 105, 0.01) 90%);
  }
}

@layer components {
  .focus-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}